<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rss Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <div id="centerText">
        
    
    <pre>
        -''--.
        _`>   `\.-'<
     _.'     _     '._
   .'   _.='   '=._   '.
   >_   / /_\ /_\ \   _<
     / (  \o/\\o/  ) \
     >._\ .-,_)-. /_.<
         /__/ \__\ 
           '---'     E=mc^2
 
    </pre>
    <h1>RSS Generator for research teams</h1>
      <pre>
        b.
        88b
        888b.
        88888b
        888888b.
        8888P"
        P" `8.
            `8.   
             `8
        
    </pre>   
    
    </div>
    
    {% block body %}{% endblock %}
</body>
</html>